.book-author {
  color: rgb(139, 139, 139);
}
h1, h2 {
  font-weight: bold;
}
p {
  font-size: 1.3rem;
}
p:last-child {
  font-weight: 500;
}
hr {
  margin: 44px 20px 30px;
  border: 1px solid rgb(139 139 139 / 50%);
}
